extends layout-badging

block content
   section.box.search-form.theme-inverse-pills
    h1= title
    form#flight-search(action="/results-badging")
      div#date-container
         label.text.calendar.departing.icon-before
          span.label Departing 
          input#datepicker(
            name="departureDate"
            type="text"
            placeholder="mm/dd/yyyy"
          )
          span.icon.icon-location
      div#origin-container.col-half
        label.select
          span.label Flying from
          select(name="departureAirport" id="departureAirport")
              option(value="") Select origin
    
  
      div#dest-container.col-half
        label.select
          span.label Flying to
          select(name="arrivalAirport" id="arrivalAirport")
              option(value="") Select destination
            
      button.btn-secondary.btn-action.t-select-btn(
          type="submit"
      )
        span.btn-label Search
   
   
    script $("#datepicker").datepicker({dateFormat:'yy-mm-dd', minDate:new Date(), numberOfMonths:2, dayNamesMin: ["S","M","T","W","T","F","S"], monthNames: ["Jan","Feb","Mar","Apr","Maj","Jun","Jul","Aug","Sep","Okt","Nov","Dec"]});  
