extends layout-flex

block content
  div.backgroundImage
  h1= title
    span :&nbsp;
    span#origin-destination
  p #{formattedDepartureDate}
  section#flightDetails.box.flex-item-row

   
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.min.js') 
  script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js')
  script var departureDate = '#{departureDate}', arrivalAirport = '#{arrivalAirport}', departureAirport = '#{departureAirport}' , productKey = '#{productKey}', isFlex = #{isFlex}
  script(src='/javascripts/static-data.js')
  script(src='/javascripts/fs-lib-react.js' type='text/babel')