extends layout

block content
   h1= title

   each leg in flightlegs
      section.box
         each segment in leg.segments
            p
               span From: 
                  strong #{segment.departureAirportLocation} 
                  span - #{segment.departureTime}
               span To: 
                  strong #{segment.arrivalAirportLocation} 
                  span - #{segment.arrivalTime}
