extends layout

block content
   
   main#detailContainer.box
      div.imageContainer
      h1= title
         span :&nbsp;
         span#origin-destination
      p #{departureDate}
      section.price-detail
         p Total: 
            strong.total #{flightDetail.offer.totalFarePrice.formattedWholePrice}
         p Base: #{flightDetail.offer.baseFarePrice.formattedWholePrice}
         p Taxes: #{flightDetail.offer.taxesPrice.formattedWholePrice}
         
      
      each leg in flightDetail.legs
         each segment in leg.segments
            section.leg
               p
                  strong #{segment.departureAirportLocation.replace(/, USA/,'')} 
                  span &ndash;&nbsp; 
                  strong #{segment.arrivalAirportLocation.replace(/, USA/,'')}
                  span &nbsp;(#{new Date(segment.departureTimeRaw).toLocaleDateString()})
               p #{segment.airlineName}, #{segment.equipmentDescription}, #{flightDetail.offer.segmentAttributes[0][0]['cabinCode']}
               p Departs: #{new Date(segment.departureTime).toLocaleTimeString('en-US',{hour:'2-digit', minute:'2-digit'})}
               p Arrives: #{new Date(segment.arrivalTime).toLocaleTimeString('en-US',{hour:'2-digit', minute:'2-digit'})}
               p Duration: #{segment.duration.substr(2).replace(/H/,'h ').replace(/M/,'m')}
               p Total distance: #{segment.distance} #{segment.distanceUnits}

            
            
         if leg.freeCancellationBy
            p Free cancellation before: #{leg.freeCancellationBy.localized}
         script var arrivalAirport = '#{arrivalAirport}', departureAirport = '#{departureAirport}';//FS.populateOrigDest();