extends layout

block content
  h1= title
  form(action="/flights") 
    input#datepicker(
       name="departureDate"
       type="text"
       placeholder="Select date"
    )
    div
       label From
       select(name="departureAirport")
          option ORD
          option LAX
          option ORL

    div
       label To
       select(name="arrivalAirport")
          option LAX
          option ORD
          option ORL
     input(
        type="submit"
        value="Search"
     )
  script $("#datepicker").datepicker({dateFormat: 'yy-mm-dd'});  
