extends layout-badging

block content
   h1
    span#origin-destination
   p #{formattedDepartureDate}
   section#flightResults.flex-container.flex-results
   
   script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.min.js') 
   script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js')
   script var departureDate = '#{departureDate}', arrivalAirport = '#{arrivalAirport}', departureAirport = '#{departureAirport}', isFlex = #{isFlex}, isBadging = #{isBadging};
   script(src='/javascripts/static-data.js')
   script(src='/javascripts/fs-lib-react.js' type='text/babel')
   script var currentTrends = !{trends}